/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.eisenhewer-matrix-head {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.eisenhewer-matrix-img {
  width: 100%;
}
.eisenhewer-matrix-head .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
.eisenhewer-matrix-head { text-align: center;
}
}
.centered-main-page-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.task-row-wrapper {
  display: flex;
}
.list-todo-comp {
  margin:0;
  padding: 0px;
}

/* li, h3 {
  list-style:none;
} */

.total-inp {
  outline:none;
}

#but-total {
  outline:none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
#but-total:hover {
  color: #3a3a3a;
}
/* Heading */
.headers,
.add-item-lab {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* .headers,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
} */

.total-inp .task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

/* input[type="text"]:focus {
  color: #333;
} */

.total-inp .task:focus {
  color: #333;
}

.total-inp .task {
  color: #333;
}

/* New Task */
.add-item-lab {
  display: block;
  margin: 0 0 20px;
}

/* label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
} */

/* input#new-task {
  width: 318px;
} */

.total-inp .task #new-task {
  width: 318px;
}


/* Task list */
#inp-line {
  list-style:none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
/* li > * {
  vertical-align: middle;
} */

/* #inp-line > input[type="checkbox"] {
  margin: 0 10px;
} */

.inp-line-check {
  margin: 0 10px;
}

/* #inp-line > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
} */

#inp-line > .task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

#inp-line .total-inp.task {
  width: 226px
}

/* #inp-line >  input[type="text"] {
  width: 226px
} */

/* button.button-for-del .img-for-del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.button-for-del .img-for-del:hover {
  transform: rotateZ(0);
} */

.img-for-del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.img-for-del:hover {
  transform: rotateZ(0);
}

/* Completed */
/* .list-todo-comp #completed-tasks label {
  text-decoration: line-through
  color: #888;
} */

.list-todo-comp #completed-tasks .task {
  text-decoration: line-through ;
  color: #888;
}

/* Edit Task */
.list-todo-comp #inp-line input[type=text] {
  display:none
}  

/*тут ломается*/
/* .list-todo-comp #inp-line .total-inp .task {
  display:none
} */

/*пере .edit пробела не должно быть*/
.list-todo-comp #inp-line.edit-mode input[type=text] {
  display:inline-block;
  width:224px
} 

/* .list-todo-comp #inp-line.edit-mode .total-inp .task {
  display:inline-block;
  width:224px
} */

/* .list-todo-comp #inp-line.edit-mode label {
  display:none;
} */

.list-todo-comp #inp-line.edit-mode .task {
  display:none;
}